{
    "plugins": ["@typescript-eslint", "prettier", "import"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:import/recommended",
        "plugin:import/typescript"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/restrict-template-expressions": "error",
        "@typescript-eslint/restrict-plus-operands": "error",
        "@typescript-eslint/no-unsafe-member-access": "error",
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_", "caughtErrors": "none" }],
        "@typescript-eslint/no-unsafe-argument": "error",
        "@typescript-eslint/no-unsafe-call": "error",
        "@typescript-eslint/no-unsafe-assignment": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "no-loss-of-precision": "error",
        "@typescript-eslint/no-unnecessary-condition": "error",
        "@typescript-eslint/no-base-to-string": "off",
        "no-case-declarations": "error",
        "prettier/prettier": "error",
        "no-mixed-spaces-and-tabs": "error",
        "@typescript-eslint/require-await": "error",
        "import/no-named-as-default-member": "off",
        "import/no-cycle": "warn",
        "@typescript-eslint/no-deprecated": "warn"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "settings": {
        "import/extensions": [ ".ts" ],
        "import/resolver": {
            "typescript": true,
            "node": true
        }
    }
}
