/node_modules
/build

/.env
/config.json
/static/data/**
!/static/data/.gitkeep
yarn.lock
/tmp

# JetBrains/webstorm configs
.idea/

# logs
/logs

# MongoDB VSCode extension playground scripts
/database_scripts

# Default Docker directory
/docker-data
