{
  "mongodbUrl": "mongodb://127.0.0.1:27017/openWF",
  "logger": {
    "files": true,
    "level": "trace"
  },
  "myAddress": "localhost",
  "httpPort": 80,
  "httpsPort": 443,
  "NRS": ["localhost"],
  "administratorNames": [],
  "autoCreateAccount": true,
  "skipTutorial": false,
  "skipAllDialogue": false,
  "unlockAllScans": false,
  "unlockAllMissions": false,
  "infiniteCredits": false,
  "infinitePlatinum": false,
  "infiniteEndo": false,
  "infiniteRegalAya": false,
  "infiniteHelminthMaterials": false,
  "unlockAllShipFeatures": false,
  "unlockAllShipDecorations": false,
  "unlockAllFlavourItems": false,
  "unlockAllSkins": false,
  "unlockAllCapturaScenes": false,
  "universalPolarityEverywhere": false,
  "unlockDoubleCapacityPotatoesEverywhere": false,
  "unlockExilusEverywhere": false,
  "unlockArcanesEverywhere": false,
  "noDailyStandingLimits": false,
  "instantResourceExtractorDrones": false,
  "noDojoRoomBuildStage": false,
  "fastDojoRoomDestruction": false,
  "noDojoResearchCosts": false,
  "noDojoResearchTime": false,
  "fastClanAscension": false,
  "spoofMasteryRank": -1,
  "events": {
    "starDays": true
  }
}
