{
  "mongodbUrl": "mongodb://127.0.0.1:27017/openWF",
  "logger": {
    "files": true,
    "level": "trace"
  },
  "myAddress": "localhost",
  "httpPort": 80,
  "httpsPort": 443,
  "NRS": ["localhost"],
  "administratorNames": [],
  "autoCreateAccount": true,
  "skipTutorial": false,
  "skipAllDialogue": false,
  "unlockAllScans": false,
  "unlockAllMissions": false,
  "infiniteCredits": false,
  "infinitePlatinum": false,
  "infiniteEndo": false,
  "infiniteRegalAya": false,
  "infiniteHelminthMaterials": false,
  "claimingBlueprintRefundsIngredients": false,
  "dontSubtractPurchaseCreditCost": false,
  "dontSubtractPurchasePlatinumCost": false,
  "dontSubtractPurchaseItemCost": false,
  "dontSubtractPurchaseStandingCost": false,
  "dontSubtractVoidTraces": false,
  "dontSubtractConsumables": false,
  "unlockAllShipFeatures": false,
  "unlockAllShipDecorations": false,
  "unlockAllFlavourItems": false,
  "unlockAllSkins": false,
  "unlockAllCapturaScenes": false,
  "universalPolarityEverywhere": false,
  "unlockDoubleCapacityPotatoesEverywhere": false,
  "unlockExilusEverywhere": false,
  "unlockArcanesEverywhere": false,
  "noDailyStandingLimits": false,
  "noDailyFocusLimit": false,
  "noArgonCrystalDecay": false,
  "noMasteryRankUpCooldown": false,
  "noVendorPurchaseLimits": false,
  "noDeathMarks": false,
  "noKimCooldowns": false,
  "syndicateMissionsRepeatable": false,
  "unlockAllProfitTakerStages": false,
  "instantFinishRivenChallenge": false,
  "instantResourceExtractorDrones": false,
  "noResourceExtractorDronesDamage": false,
  "skipClanKeyCrafting": false,
  "noDojoRoomBuildStage": false,
  "noDecoBuildStage": false,
  "fastDojoRoomDestruction": false,
  "noDojoResearchCosts": false,
  "noDojoResearchTime": false,
  "fastClanAscension": false,
  "missionsCanGiveAllRelics": false,
  "spoofMasteryRank": -1,
  "nightwaveStandingMultiplier": 1,
  "worldState": {
    "creditBoost": false,
    "affinityBoost": false,
    "resourceBoost": false,
    "starDays": true,
    "eidolonOverride": "",
    "vallisOverride": "",
    "duviriOverride": "",
    "nightwaveOverride": "",
    "circuitGameModes": null
  },
  "dev": {
    "keepVendorsExpired": false
  }
}
