{
  "mongodbUrl": "mongodb://127.0.0.1:27017/openWF",
  "logger": {
    "files": true,
    "level": "trace"
  },
  "myAddress": "localhost",
  "hubAddress": "https://localhost/api/",
  "platformCDNs": ["https://localhost/"],
  "NRS": ["localhost"],
  "httpPort": 80,
  "httpsPort": 443,
  "administratorNames": [],
  "autoCreateAccount": true,
  "skipTutorial": true,
  "skipAllDialogue": true,
  "unlockAllScans": true,
  "unlockAllMissions": true,
  "infiniteCredits": true,
  "infinitePlatinum": true,
  "infiniteEndo": true,
  "infiniteRegalAya": true,
  "infiniteHelminthMaterials": false,
  "unlockAllShipFeatures": true,
  "unlockAllShipDecorations": true,
  "unlockAllFlavourItems": true,
  "unlockAllSkins": true,
  "unlockAllCapturaScenes": true,
  "universalPolarityEverywhere": true,
  "unlockDoubleCapacityPotatoesEverywhere": true,
  "unlockExilusEverywhere": true,
  "unlockArcanesEverywhere": true,
  "noDailyStandingLimits": true,
  "instantResourceExtractorDrones": false,
  "noDojoRoomBuildStage": true,
  "noDojoResearchCosts": true,
  "noDojoResearchTime": true,
  "spoofMasteryRank": -1
}
