services:
    spaceninjaserver:
        image: openwf/spaceninjaserver:latest

        volumes:
            - ./docker-data/conf:/app/conf
            - ./docker-data/static-data:/app/static/data
            - ./docker-data/logs:/app/logs
            - ./.well-known:/app/.well-known
        ports:
            # The lefthand value determines the port you actually connect to. Within the container, SpaceNinjaServer will always use 80 and 443 (righthand values).
            - 80:80
            - 443:443

        # Normally, the image is fetched from Docker Hub, but you can use the local Dockerfile by removing "image" above and adding this:
        #build: .
        # Works best when using `docker compose up --force-recreate --build`.

        environment:
            - CHOKIDAR_USEPOLLING=true
        depends_on:
            - mongodb
    mongodb:
        image: docker.io/library/mongo:8.0.0-noble
        volumes:
            - ./docker-data/database:/data/db
        command: mongod --quiet --logpath /dev/null
