name: Build
on:
    push: {}
    pull_request: {}
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.2
            - name: Setup Node.js environment
              uses: actions/setup-node@v4.0.2
              with:
                  node-version: "20.x"
            - run: npm ci
            - run: cp config.json.example config.json
            - run: echo '{"version":"","buildLabel":"","matchmakingBuildId":""}' > static/data/buildConfig.json
            - run: npm run build
            - run: npm run lint
