name: Prettier
on:
    pull_request:
        branches: [main]
jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
            - uses: actionsx/prettier@v2
              with:
                  args: --write .
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4.1.2
              with:
                  commit_message: Apply prettier changes
                  branch: ${{ github.head_ref }}
